VITE_FIREBASE_API_KEY=AIzaSyBblM4IdE7mJcfG-UBqW54Ft-anOU69DLQ
VITE_FIREBASE_AUTH_DOMAIN=service-booking-fac40.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=service-booking-fac40
VITE_FIREBASE_STORAGE_BUCKET=service-booking-fac40.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=751595311504
VITE_FIREBASE_APP_ID=1:751595311504:web:6be475ed42e4390886e315
VITE_FIREBASE_MEASUREMENT_ID=G-EL4YX0E0ZM
